.selected {
    border-color: gold; 
    border-style: solid; 
}

.key {
    cursor: pointer; 
}

.infotext {
    animation: fadeIn linear 1s; 
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.youtube.social {
    margin: 10px; 
}

.twitter.social {
    margin: 10px; 
}

.github.social {
    margin: 10px; 
    color: black;
}