.selected {
    border-style: solid; 
    border-width: 5px;
    animation-duration: 1s;
    animation-name: fancyborder;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.key {
    cursor: pointer; 
}

.infotext {
    animation: fadeIn linear 1s; 
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.youtube.social {
    margin: 10px; 
}

.twitter.social {
    margin: 10px; 
}

.github.social {
    margin: 10px; 
    color: black;
}

@keyframes fancyborder {
    from {
        border-color: gold;
    }

    to {
        border-color: palegoldenrod;
    }
}